img{
	width: 635px;
	z-index: 1;
	position: relative;
	left:320px;
	/*left:317.5px;
	right:317.5px;*/

}

.text1{
	position: relative;
	z-index: 2;
	left: 600px;
	top: 329px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    border: 1px solid;

}